BetterDiscord 
cef_user_data
Code
spotify
supertuxkart
TabNine
discord
flutter
GIMP
Transformice
Google
unity3d
google-chrome
user-dirs.*
spicetify
yay
vimb
'Raspberry Pi'
JetBrains
libreoffice
lutris
Android Open Source Project/
Min/
Netflix/
OpenRGB/
QtProject.conf
Raspberry Pi/
SideQuest/
Trolltech.conf
Typora/
audacity/
balena-etcher/
betterlockscreenrc
bottom/
cli-chess/
coc/
ctpv/
gh/
godot/
gtk-3.0/bookmarks
hypr/
lf/
obs-studio/
obsidian/
orphans.txt
pavucontrol.ini
polybar/rofi-network-manager/
polybarBackup/
qalculate/
solaar/
terminator/plugins/__pycache__/terminator-themes.cpython-311.pyc
torbrowser/
vlc/
workstyle/

