BetterDiscord 
cef_user_data
Code
spotify
supertuxkart
TabNine
discord
flutter
GIMP
Transformice
Google
unity3d
google-chrome
user-dirs.*
spicetify
yay
vimb
'Raspberry Pi'
JetBrains
libreoffice
lutris
